<div class="img-container">
<!--  <mat-card *ngIf="article">-->
  <mat-card *ngIf="article">
    <img mat-card-image class="card-img" src="{{article.image_url}}">
  </mat-card>
</div>

<div class="card-container">
  <mat-card class="card" *ngIf="article">
    <mat-card-header class="card-header">
      <mat-card-title>{{article.title }}
      </mat-card-title>
    </mat-card-header>

    <mat-card-content class="card-content">{{article.summary}}
    </mat-card-content>
  </mat-card>

  <div class="link-back">
    <a routerLink="/article-list">
      <img src="assets/arrow-left.png"> Back to homepage
    </a>
  </div>
</div>



